@CHARSET "UTF-8";

.celda{
	padding-top:15px;
	padding-bottom:15px;
}

.celda > input,.celda > select{
	width:100%;
}

.content {
	background-image: url("../img/image.jpeg");
	background-repeat:no-repeat;
	background-size:cover;
}

.buscador{
	background-color: #57CCF7;
	color: #545F65;
	-webkit-border-radius: 5px;
    border-radius: 5px; 
}

.botonSubmit {
    padding:5px 15px; 
    background:#7AB317; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
	color:white;
}

.textRight{
	text-align: right;
}

.textCenter{
	text-align: center;
}

.rowPar{
	margin-left:-13px !important;
	margin-right:-13px !important;	
	background-color: white;
}

.rowImpar{
	margin-left:-13px !important;
	margin-right:-13px !important;	
	background-color: lightcyan;
}

.rowImpar:hover , .rowPar:hover{
	background-color:#a5d8f2;
}

.precioMinimo{
	color:red;
	font-weight: bold;
    font-size: 22px;
}

.precio{
	color: #57CCF7;
    font-weight: bold;
    font-size: 18px;
}

.rotate{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.title{
	color: white;
    font-weight: bold;
    font-size: 20px;
}

.subtitle{
	font-weight: bold;
    font-size: 18px;
}

.no-margin{
	margin-top:0px !important;
	margin-bottom:0px !important;
}

.bold{
	font-weight:bold;
}

.italic{
	font-style:italic;
}

.padding-top-10{
	padding-top:10px
}