

<!-- The below line will print the variable $ instance -->

<?php 
    $form->setAttributes(array(
        'action' => $this->url.'/vuelos/mostrarrutas'
    ));
    echo $this->form()->openTag($form);

    $departureSelect=$form->get('departure');
    $destinationSelect=$form->get('destination');   
    $fsalida=$form->get('fsalida');
    $fvuelta=$form->get('fvuelta');
    $adultosSelect=$form->get('adultos');
    $childrenSelect=$form->get('children');
    $babiesSelect=$form->get('babies');
    $submit=$form->get('submit');
    
?>


  <div class="row" style="margin-top:100px">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-12 buscador" style="color:white">
      <!-- Nested grid -->  
      <div class="row">
      	<div class=" col-md-3 col-sm-6 celda">Choose a flight</div>
        <div class=" col-md-3 col-sm-6 celda">Round-trip flight</div>
        <div class=" col-md-3 col-sm-6 celda">One way</div> 
      
      </div>
      <div class="row">
        <div class="celda col-md-3 col-sm-6"><?= $this->formselect($departureSelect)?></div>
        <div class="celda col-md-3 col-sm-6"><?= $this->formselect($destinationSelect)?></div>  
        <div class="celda col-md-3 col-sm-6"><?= $this->forminput($fsalida)?></div>
        <div class="celda col-md-3 col-sm-6"><?= $this->forminput($fvuelta)?></div> 
      </div>
      <div class="row">
        <div class="celda col-md-3 col-sm-6">
        	<?= $this->formselect($adultosSelect)?>
        	<span>+ 12 years</span>
        </div>
        <div class="celda col-md-3 col-sm-6">
        	<?= $this->formselect($childrenSelect)?>
        	<span>2 - 11 years</span>
       	</div>  
        <div class="celda col-md-3 col-sm-6">
        	<?= $this->formselect($babiesSelect)?>
        	<span>- 24 months</span>
        </div>
        <div class="celda col-md-3 col-sm-6"><?= $this->forminput($submit)?></div>       
      </div>  
    </div>  
    <div class="col-md-2"></div>  
  </div>  


<?php 
echo $this->form()->closeTag();
?>