<form action="<?= $this->url ?>/vuelos/resumen" onsubmit="return verifySelectedFlight()" method="post" name="form">

<div class="row" style="margin-top:100px">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-12 buscador">
      <!-- Nested grid -->  
      
      <div class="row">
      	<div class="celda col-xs-1">
        	
        </div>
        <div class="celda col-xs-5 title">
        <i class="fa fa-plane "></i>
        	Outbound
        </div>
        
      </div>
      <?php 
        $i=0;
        foreach ($salida as $sal){ 
            $clase='rowPar';
            if (($i % 2)==1){
                $clase='rowImpar';
            }
            $menos10Asientos=$sal->getSeatsAvailable()<10;
      ?>
      <div class="row <?= $clase?>">
      	<div class="celda col-xs-1">
        	<div class="row">
        		<div class="col-md-12">&nbsp</div>
        		<div class="col-md-12"><input type="radio" name="salida" value="<?= $i ?>"></div>
        		<div class="col-md-12">&nbsp</div>
        	</div>
        </div>
        <div class="celda col-xs-6">
        	<div class="row">
        		<div class="col-md-12"><?php echo $sal->getDatetime();?></div>
        		<div class="col-md-12"><?php echo $sal->getDepartName().' → '.$sal->getArrivalName();?></div>
        		<div class="col-md-12"><?php echo $sal->getAircrafttype();?></div>
        	</div>
        </div>
        <div class="celda col-xs-5 textRight">
        	<div class="row">
        		<div class="col-md-12 <?php echo ($sal->getEsPrecioMinimo() ? 'precioMinimo' : 'precio' ); ?>"><?php echo $sal->getPrice();?>,00€</div>
        		<div class="col-md-12">Arrival in <?php echo $sal->getArrivalName();?></div>
        		<div class="col-md-12 italic"><?php echo ($menos10Asientos ? 'Only '.$sal->getSeatsAvailable().' tickets at '.$sal->getPrice().',00 €' :'');?></div>
        	</div>
        </div>
      </div>
     <?php  $i++; }?>
     <div class="row">
      	&nbsp

        
      </div>
    </div>  
    <div class="col-md-2"></div>  
</div>  
 
 <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-12 buscador">
      <!-- Nested grid -->  
      
      <div class="row">
      	<div class="celda col-xs-1">
        	
        </div>
        <div class="celda col-xs-5 title">
        	<i class="fa fa-plane rotate "></i>
        	Return
        </div>
        
      </div>
      <?php 
        $i=0;
        foreach ($vuelta as $sal){ 
            $clase='rowPar';
            if (($i % 2)==1){
                $clase='rowImpar';
            }
            $menos10Asientos=$sal->getSeatsAvailable()<10;
      ?>
      <div class="row <?= $clase?>">
      	<div class="celda col-xs-1">
        	<div class="row">
        		<div class="col-md-12">&nbsp</div>
        		<div class="col-md-12"><input type="radio" name="vuelta" value="<?= $i ?>"></div>
        		<div class="col-md-12">&nbsp</div>
        	</div>
        </div>
        <div class="celda col-xs-6">
        	<div class="row">
        		<div class="col-md-12"><?php echo $sal->getDatetime();?></div>
        		<div class="col-md-12"><?php echo $sal->getDepartName().' → '.$sal->getArrivalName();?></div>
        		<div class="col-md-12"><?php echo $sal->getAircrafttype();?></div>
        	</div>
        </div>
        <div class="celda col-xs-5 textRight">
        	<div class="row">
        		<div class="col-md-12 <?php echo ($sal->getEsPrecioMinimo() ? 'precioMinimo' : 'precio' ); ?>"><?php echo $sal->getPrice();?>,00€</div>
        		<div class="col-md-12">Arrival in <?php echo $sal->getArrivalName();?></div>
        		<div class="col-md-12 italic"><?php echo ($menos10Asientos ? 'Only '.$sal->getSeatsAvailable().' tickets at '.$sal->getPrice() .',00 €':'');?></div>
        	</div>
        </div>
      </div>
     <?php  $i++; }?>
     <div class="row">
      	<div class="col-md-12 textRight" style="padding:4px">
        	<input type="submit" value="Booking" class="botonSubmit" />
        </div>
	</div>
    </div>  
    <div class="col-md-2"></div>  
</div>   

</form>



<!-- This was defined in the controller HelloController -->