
<div class="row" style="margin-top:100px">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-12 buscador">
		<div class="row">
      		<div class="celda col-xs-1">
        	</div>
        	<div class="celda col-xs-5 title">
        		Your flight	
        	</div>
      	</div>
      
      	<!-- vuelo de ida -->
      	<div class="row rowPar">
      		<div class="celda col-xs-1"></div>
        	<div class="celda col-xs-11 subtitle">
            	<i class="fa fa-plane"></i>
            	Outbound flight
        	</div>
      	</div>
      	<div class="row rowPar">
      		<div class=" col-xs-1"></div>
        	<div class=" col-xs-10">
            	<hr class="no-margin"/>
        	</div>
      	</div>
     	<div class="row rowPar">
     		<!-- fila 1 -->
      		<div class=" col-xs-1">&nbsp</div>
        	<div class=" col-xs-11">
            	<?php echo $salida->getDate(); ?>
        	</div>
        	
        	<!-- fila 2 -->
        	<div class=" col-xs-1">&nbsp</div>
        	<div class=" col-xs-4">
            	<?php echo $salida->getDepartName(); ?>
        	</div>
        	<div class=" col-xs-2 textCenter">
            	→
        	</div>
        	<div class=" col-xs-4 textRight">
            	<?php echo $salida->getArrivalName(); ?>
        	</div>
        	<div class=" col-xs-1">&nbsp</div>
        	
        	<!-- fila 3 -->
        	<div class=" col-xs-1">&nbsp</div>
        	<div class=" col-xs-11">
            	<?php echo $salida->getDatetime(); ?>
        	</div>
        	
        	<!-- fila 4 -->
        	<div class=" col-xs-1">&nbsp</div>
        	<div class=" col-xs-10 textRight bold">
            	<?php echo $salida->getPrice(); ?>,00 €
        	</div>
        	<div class=" col-xs-1">&nbsp</div>
        	
        	<!-- fila 5 -->
        	<div class=" col-xs-1">&nbsp</div>
        	<div class=" col-xs-10 textRight italic">
            	price per person
        	</div>
        	<div class=" col-xs-1">&nbsp</div>
      	</div>
      	
      	<!-- Informacion de regreso -->
      	<div class="row rowPar">
      		<div class="celda col-xs-1"></div>
        	<div class="celda col-xs-11 subtitle">
            	<i class="fa fa-plane rotate "></i>
            	Flight back
        	</div>
      	</div>
      	<div class="row rowPar">
      		<div class=" col-xs-1"></div>
        	<div class=" col-xs-10">
            	<hr class="no-margin"/>
        	</div>
      	</div>
     	<div class="row rowPar">
     		<!-- fila 1 -->
      		<div class=" col-xs-1">&nbsp</div>
        	<div class=" col-xs-11">
            	<?php echo $vuelta->getDate(); ?>
        	</div>
        	
        	<!-- fila 2 -->
        	<div class=" col-xs-1">&nbsp</div>
        	<div class=" col-xs-4">
            	<?php echo $vuelta->getDepartName(); ?>
        	</div>
        	<div class=" col-xs-2 textCenter">
            	→
        	</div>
        	<div class=" col-xs-4 textRight">
            	<?php echo $vuelta->getArrivalName(); ?>
        	</div>
        	<div class=" col-xs-1">&nbsp</div>
        	
        	<!-- fila 3 -->
        	<div class=" col-xs-1">&nbsp</div>
        	<div class=" col-xs-11">
            	<?php echo $vuelta->getDatetime(); ?>
        	</div>
        	
        	<!-- fila 4 -->
        	<div class=" col-xs-1">&nbsp</div>
        	<div class=" col-xs-10 textRight bold">
            	<?php echo $vuelta->getPrice(); ?>,00 €
        	</div>
        	<div class=" col-xs-1">&nbsp</div>
        	
        	<!-- fila 5 -->
        	<div class=" col-xs-1">&nbsp</div>
        	<div class=" col-xs-10 textRight italic">
            	price per person
        	</div>
        	<div class=" col-xs-1">&nbsp</div>
      	</div>
      	
      	<!-- pasajeros -->
      	<div class="row rowPar">
      		<div class="celda col-xs-1"></div>
        	<div class="celda col-xs-11 subtitle">
            	<i class="fa fa-users "></i>
            	Passengers
        	</div>
      	</div>
      	<div class="row rowPar">
      		<div class=" col-xs-1"></div>
        	<div class=" col-xs-10">
            	<hr class="no-margin"/>
        	</div>
      	</div>
     	<div class="row rowPar">
     		<!-- fila 1 -->
      		<div class=" col-xs-1">&nbsp</div>
        	<div class=" col-xs-11">
            	<?php echo $salida->getAdults(); ?> adult
        	</div>
        	<?php 
        	   if ($salida->getChildren()>0){
        	       echo '<div class=" col-xs-1">&nbsp</div><div class=" col-xs-11">'.$salida->getChildren().' children </div>';
        	   }
        	?>
      	</div>
      	
      	<!-- total price -->
      	<div class="row rowPar">
      		<div class=" col-xs-1"></div>
        	<div class=" col-xs-10">
            	<hr class="no-margin"/>
        	</div>
      	</div>
     	<div class="row rowPar precio padding-top-10">
     		<!-- fila 1 -->
      		<div class=" col-xs-1">&nbsp</div>
        	<div class=" col-xs-5">
            	Total price
        	</div>
        	<div class=" col-xs-5 textRight ">
            	<?php 
            	   $precioTotal=$salida->getPrice()*($salida->getAdults()+$salida->getChildren());
            	   $precioTotal+=$vuelta->getPrice()*($vuelta->getAdults()+$vuelta->getChildren());
            	   echo $precioTotal;
            	?>,00 €
        	</div>
        	<div class=" col-xs-1">&nbsp</div>
      	</div>
      	<div class="row rowPar">
      		<div class=" col-xs-1"></div>
        	<div class=" col-xs-10">
            	&nbsp
        	</div>
      	</div>
      	
      	<!-- Pie -->
     	<div class="row">
      	&nbsp
		</div>
    </div>  
</div>  